<h1>Sign Up Below:</h1>

<form action ="/registrations" method="post">
    name: <input type="text" name="name">
    email: <input type="text" name="email" id="email">
    password: <input type="text" name="password">

    <input type="submit" id="Sign Up" name="Sign Up">
</form>
